html {height: 100%;}
body {height: 100%; background-color: #faedcd; font-family: Arial, sans-serif;}

.textColumn {min-height: 100%; background-color: #e9d8a6; min-height: 200px; padding: 200px; padding-top: 40px; padding-bottom: 50px; margin-left: 200px; margin-right: 200px;}
.singleQuote {padding-top: 50px; padding-bottom: 60px; color: #bb3e03;}
.createForm {padding-top: 30px; padding-bottom: 60px; color: #bb3e03; font-size: 20px;}

.b {background-color: #e9d8a6;}
.textb {color: #e9d8a6;}
.lb {background-color: #bb3e03;}
.textlb {color: #bb3e03;}
.lg {background-color: #ee9b00;}
.textlightgrey {color: #ee9b00;}
.otb {color: #bb3e03; font-size: 20px;}
.butDiv {background-color: #bb3e03; padding-top: 10px; padding-bottom: 10px; text-align: center;}
.but {color: #e9d8a6; font-size: 25px;}
.butDivTwo {background-color: #309975; padding-top: 10px; padding-bottom: 10px; text-align: center;}
.butTwo {color: #e0df89; font-size: 25px;}