body {}
html {}


.b {background-color: #353566;}
.textb {color: #353566;}
.lb {background-color: #4bcfed;}
.textlb {color: #4bcfed;}
.textg {color: #a40000;}
.dg {background-color: #494954}
.w {background-color: #dddddd;}
.textw {color: #dddddd;}
.lg {background-color: #9c9c9c;}
.textlightgrey {color: #9c9c9c;}